/* App.css */
.enquiry-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
  }
  
  .enquiry-form.open {
    display: block;
  }
  .new{
    height: 10px;
  }
  .newcom{
    height: 100px;  
    width: 599px;
  }
  h2{
    text-align: center;
  }
  .maintext{
    text-align: center;
  }
 
